{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
   {{ form_start(form) }}
   {{ form_widget(form) }}
   <button class="btn btn-primary">Poster</button>
   {{ form_end(form) }}
{% endblock %}
