{% extends 'base.html.twig' %}

{% block title %}New actor{% endblock %}

{% block body %}
    <h1>Create new Actor</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>OK</button>
    {{ form_end(form) }}

{% endblock %}
